language: node_js
node_js:
- '9.5'

cache:
  yarn: true

install:
- yarn

script:
- yarn test

before_deploy:
- yarn build

deploy:
  provider: firebase
  token:
    secure: bZzscRP9iVWMWZpddbzc2/WhtcEJmu9ikV82Ny04KXcZO8HGycmj57CnDDkQEtlo0ghcEagJC028M23pztgXhFjBpn6e/OSz2iGN6Y+8V9DqMlH2f4qOkiBmoBII0k/qg3/srUY1t8TNxjnbp8aGKWTKkCb/Z6DHJGHL82d6q7EZCsd6v6LZfXen8ZiKYEqYJbsfVoGzOZXBzYDOkIu9QbGL3e7kYoVBs/ma2NsSEMJGm2UoCZb9hTezn8Z8Dlb1QWYKgqONzIj+m2gMIM/TxS6iKxr3fGmW0oxKcil5N5n7/lC2tfgIL6QrRbQFCKlxk7B9VReKP9kSbKVLxPvB1otQpqgJxdzII3tDYg0Yj6ZDo2lQ3MIZSQ4SF1MGvNtoJctP4/GIp8+hrtwmVyCCLgmqJdeLXzoyijuGu8he0Z+Q20ZcpiYQgtZkkLcE7uYpBs03jEKlU93CLau+KX9zZyTaHGbjjZRDlFSsaq+uZtKTNMtExfFZLs89MwpbktCb11lRSJQwjQITzoAnScc/vOlr7DKyXUgLFSPFo/Mq3rorjOqOtPuUMe2YXYK3GeA2HUbM+xrtUDVzLMHcwqdV5wZkCButu+8EYIsz2s/zDfZd/bJ5luutVgh8rm2sGET/QTa8Nq0jJ1JeTMIuyBwsJO1Z4Mk7Ajq/IUARYYZhArc=
